{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
<style>
    .bn60 {
  background-color: #190c8d;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 100px;
}
</style>
    <h1>Type index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.nom }}</td>
                <td>{{ type.description }}</td>
                <td>{{ type.etat ? 'Yes' : 'No' }}</td>
                <td>{{ type.nombre }}</td>
                <td>
                    <a class="bn60"  href="{{ path('app_type_show', {'id': type.id}) }}">show</a>
                    
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <style>

        .t1{
         border-collapse: collapse;
         width: 1000px;
         margin-bottom: 400px;
        }
        th,td {
            border: 1px solid black;
            padding: 70px;
        }
        caption{
            background-color: lightblue;
            font-weight: bold;
        }
            </style>
   

   
{% endblock %}
