{% extends 'base-back.html.twig' %}

{% block title %}BonAchat{% endblock %}

{% block body %}
    <h1>BonAchat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bon_achat.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ bon_achat.montant }}</td>
            </tr>
            <tr>
                <th>Date_exp</th>
                <td>{{ bon_achat.dateExp ? bon_achat.dateExp|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bon_achat.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bon_achat_index') }}">back to list</a>

    <a href="{{ path('app_bon_achat_edit', {'id': bon_achat.id}) }}">edit</a>

    {{ include('bon_achat/_delete_form.html.twig') }}
{% endblock %}
