<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <style>
            h1 {
                text-align: center;
                margin-top: 50px;
                margin-bottom: 50px;
                color: rgb(30, 51, 171);
            }
            table {
                background-color: rgb(11, 72, 164);
                border: 2px solid rgb(0, 8, 7);
                border-collapse: collapse;
                width: 70%;
                margin: 0 auto;
                background-color: rgba(0, 34, 255, 0.03);
                border-collapse: collapse;
                font-size: 20px;
            }
    
            th, td {
                padding: 10px;
                text-align: left;
                border: 1px solid rgb(30, 24, 186);
            }
    
            .table-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
        </style>
    </head>
<body>
    <h1>Informations du propriétaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proprietaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ proprietaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ proprietaire.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ proprietaire.email }}</td>
            </tr>
            <tr>
                <th>Num_tlfn</th>
                <td>{{ proprietaire.numTlfn }}</td>
            </tr>
            <tr>
                <th>Solde_initial</th>
                <td>{{ proprietaire.soldeInitial }}</td>
            </tr>
            
        </tbody>
    </table>
    
</body>
</html>

