<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Informations du propriétaire</title>
</head>
<body>
    <h1>Informations du propriétaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proprietaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ proprietaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ proprietaire.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ proprietaire.email }}</td>
            </tr>
            <tr>
                <th>Num_tlfn</th>
                <td>{{ proprietaire.numTlfn }}</td>
            </tr>
            <tr>
                <th>Solde_initial</th>
                <td>{{ proprietaire.soldeInitial }}</td>
            </tr>
            
        </tbody>
    </table>
    
</body>
</html>