{% extends 'base.html.twig' %}

{% block title %}Comptebancaire{% endblock %}

{% block body %}
<style>
    .bn60 {
  background-color: #190c8d;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 100px;
}
</style>
    <h1>Comptebancaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comptebancaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ comptebancaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ comptebancaire.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ comptebancaire.email }}</td>
            </tr>
            <tr>
                <th>Num_tlfn</th>
                <td>{{ comptebancaire.numTlfn }}</td>
            </tr>
            <tr>
                <th>Solde_initial</th>
                <td>{{ comptebancaire.soldeInitial }}</td>
            </tr>
            
        </tbody>
    </table>

    <a class="bn60" href="{{ path('app_comptebancaire_index') }}">back to list</a>
    <a href="{{ path('bank_get_qr_code', {'Id': comptebancaire.id}) }}" target="_blank">Obtenir le code QR</a>
    <a href="{{ path('exporter_proprietaire_pdf', { 'id': comptebancaire.id }) }}">Export PDF</a>

    

    

   
{% endblock %}
