{% extends 'base-back.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Date_ouverture</th>
                <th>Date_expiration</th>
                <th>Tarif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.nom }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.dateOuverture ? offre.dateOuverture|date('Y-m-d') : '' }}</td>
                <td>{{ offre.dateExpiration ? offre.dateExpiration|date('Y-m-d') : '' }}</td>
                <td>{{ offre.tarif }}</td>
                <td>
                    <a href="{{ path('app_offreback_show', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('app_offreback_edit', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offreback_new') }}">Create new</a>
{% endblock %}
