{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6e16bf4008d740d51f92a8d8664babcdb5e1be4b

   
<style>
    .bn60 {
  background-color: #190c8d;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 100px;
}
</style>
<<<<<<< HEAD
=======
=======
>>>>>>> ba85304107831b3acd7bbc56141d72ddff22ce70
>>>>>>> 6e16bf4008d740d51f92a8d8664babcdb5e1be4b
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Date_ouverture</th>
                <th>Date_expiration</th>
                <th>Tarif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.nom }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.dateOuverture ? offre.dateOuverture|date('Y-m-d') : '' }}</td>
                <td>{{ offre.dateExpiration ? offre.dateExpiration|date('Y-m-d') : '' }}</td>
                <td>{{ offre.tarif }}</td>
                <td>
<<<<<<< HEAD
                    <a  class="bn60" href="{{ path('app_offre_show', {'id': offre.id}) }}">show</a>
=======
<<<<<<< HEAD
                    <a  class="bn60" href="{{ path('app_offre_show', {'id': offre.id}) }}">show</a>
=======
                    <a href="{{ path('app_offre_show', {'id': offre.id}) }}">show</a>
>>>>>>> ba85304107831b3acd7bbc56141d72ddff22ce70
>>>>>>> 6e16bf4008d740d51f92a8d8664babcdb5e1be4b
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6e16bf4008d740d51f92a8d8664babcdb5e1be4b
    <style>

        .t1{
         border-collapse: collapse;
         width: 1000px;
         margin-bottom: 400px;
        }
        th,td {
            border: 1px solid black;
            padding: 70px;
        }
        caption{
            background-color: lightblue;
            font-weight: bold;
        }
            </style>
           
<<<<<<< HEAD
=======
=======
>>>>>>> ba85304107831b3acd7bbc56141d72ddff22ce70
>>>>>>> 6e16bf4008d740d51f92a8d8664babcdb5e1be4b
    
    
{% endblock %}
