{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
<style>
    .bn60 {
  background-color: #190c8d;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 100px;
}
</style>
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre.id }}</td> 
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="/uploads/{{ offre.getImage() }}" alt="image" width="250" height="100"></td> 
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ offre.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>Date_ouverture</th>
                <td>{{ offre.dateOuverture ? offre.dateOuverture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_expiration</th>
                <td>{{ offre.dateExpiration ? offre.dateExpiration|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ offre.tarif }}</td>
            </tr>
        </tbody>
    </table>

    <a class="bn60" href="{{ path('app_offre_index') }}">back to list</a>

{% endblock %}
